@font-face {
  font-family: 'Google Sans Text';
  src: url('/assets/fonts/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9GmU9GmRGyBaT8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Text';
  src: url('/assets/fonts/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9Gm09GmRGyBaT8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Text';
  src: url('/assets/fonts/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9Gpk9GmRGyBaT8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Text';
  src: url('/assets/fonts/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9GhE9GmRGyBaT8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Text';
  src: url('/assets/fonts/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9GjU9GmRGyBaT8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Text';
  src: url('/assets/fonts/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9GiE9GmRGyBaT8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}